body {
	background-color: #555;
	color: #ddd;
}
.main-content {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #ddd;
}
.questions {
	width: 300px;
	height: 200px;
	margin: 30px auto 0px auto;
	text-align: center;
}
#instructions,
#btnStart,
#btnYes,
#btnNo,
#btnPlayAgain,
#question {
	visibility: hidden;
}